nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
  transition: 1s;
}